* {
  box-sizing: border-box;
}
/* Body */

body {
  background-color: rgb(102, 97, 91);
}

.container {
  width: 90%;
  margin: auto;
  padding: 50px;
  text-align: center;
}

/* Task Input */

.form {
  background-color: aliceblue;
  box-shadow: 0px 0px 5px 5px aliceblue;
  width: 60%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.header {
  color: aqua;
  text-shadow: 1px 1px 3px black;
}

.input {
  width: 50%;
  padding: 5px;
  border: none;
  outline: none;
  box-shadow: 0px 0px 3px black;
  transition: 1s;
}

.input:focus {
  width: 60%;
  padding: 10px;
  border: 2px solid aqua;
  box-shadow: 0px 0px 0px;
  border-radius: 10px;
}

.singletask {
  padding: 10px;
  margin: 10px;
  box-shadow: 0px 0px 2px black;
  display: flex;
}

.singletask:hover {
  background-color: burlywood;
  padding: 20px;
}

.singletaskheader {
  width: 75%;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0% 3%;
}

.btn {
  border: none;
  box-shadow: 0px 0px 3px black;
  cursor: pointer;
  background-color: rgb(96, 97, 99);
  color: honeydew;
  margin: 5px;
  padding: 6px;
}

.btn:hover {
  background-color: rgb(41, 40, 40);
  padding: 5px;
}

.btn_container {
  margin: auto;
  display: flex;
  padding-right: 60%;
  width: 30%;
  padding-right: 20%;
}

.edit_btn {
  padding: 15px;
  background-color: cadetblue;
  color: white;
  font-size: larger;
  margin: 5px;
  border: none;
  box-shadow: 0px 0px 2px black;
  border-radius: 5px;
}

.dell_btn {
  padding: 15px;
  background-color: brown;
  color: white;
  text-shadow: 0px 0px 0px black;
  font-size: larger;
  margin: 5px;
  border: none;
  box-shadow: 0px 0px 2px black;
  border-radius: 5px;
}

.dell_btn:hover {
  font-size: x-large;
  cursor: pointer;
}

.edit_btn:hover {
  font-size: x-large;
  cursor: pointer;
}

/* Task Container */

.task_container {
  padding: 20px;
  box-shadow: 1px 1px 5px 1px black;
  width: 70%;
  margin: auto;
  margin-top: 30px;
  max-height: 500px;
  overflow: auto;
  background-color: aliceblue;
  box-shadow: 0px 0px 5px 5px aliceblue;
}

a {
  text-decoration: none;
  color: white;
  text-shadow: 0px 0px 0px black;
  font-size: 16px;
}

.clear_all {
  background-color: red;
  padding: 10px;
  color: wheat;
  font-size: large;
  width: 110px;
  margin: 20px;
}

.clear_all:hover {
  font-size: larger;
  cursor: pointer;
}

/* Alert */

.alert {
  width: 300px;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 0px 5px black;
  font-size: 18px;
}

.warning_alert {
  background-color: darkorange;
  color: white;
  text-shadow: 0px 0px 0px black;
  box-shadow: 0px 0px 5px 5px darkorange;
  padding: 5px;
}

.success_alert {
  background-color: green;
  color: white;
  text-shadow: 0px 0px 0px black;
  box-shadow: 0px 0px 5px 5px green;
  padding: 5px;
}

.danger_alert {
  background-color: red;
  color: white;
  text-shadow: 0px 0px 0px black;
  box-shadow: 0px 0px 5px 5px red;
  padding: 5px;
}

.loading {
  padding: 50px;
  margin-top: 40px;
  background-color: aliceblue;
  box-shadow: 0px 0px 5px 5px aliceblue;
}

.loading h1 {
  font-size: 40px;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 900px) {
  .form {
    width: 70%;
  }
  .task_container {
    width: 80%;
  }
  .input {
    width: 60%;
  }
  .input:focus {
    width: 70%;
  }
}

@media only screen and (max-width: 700px) {
  .form {
    width: 100%;
  }
  .task_container {
    width: 100%;
  }
  .btn_container{
    padding-right: 40%;
  }
  .input {
    width: 70%;
  }
  .input:focus {
    width: 80%;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 10px;
    padding-top: 20px;
  }
  .input {
    width: 80%;
    margin: 10px;
  }
  .input:focus {
    width: 90%;
  }
  .task_container{
    padding: 0%;
  }
  .btn_container{
    padding-right: 40%;
  }
  .dell_btn {
    font-size: large;
    padding: 10px;
  }
  .edit_btn {
    font-size: large;
    padding: 10px;
  }
  .singletask {
    font-size: small;
  }
  .clear_all {
    font-size: small;
  }
}

@media only screen and (max-width: 300px) {
  .input {
    width: 85%;
  }
  .input:focus {
    width: 90%;
  }
  .form {
    padding: 5%;
  }
  .task_container{
    padding: 0%;
  }
  .singletask {
    font-size: xx-small;
  }
  .dell_btn {
    font-size: xx-small;
  }
  .edit_btn {
    font-size: xx-small;
  }
  .clear_all {
    font-size: x-small;
  }
}
